<template>
	<b-container class="protected-sample text-center">
		<h1>Hello from unprotected path ;)</h1>
	</b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ProtectedSampleView extends Vue {}
</script>

<style lang="scss">
.protected-sample {
}
</style>
