<template>
	<b-row
		:class="[
			'loader',
			{
				'loader--dark': variant === 'dark',
			},
		]"
	>
		<b-col class="d-flex justify-content-center" align-self="center">
			<b-spinner :variant="variant" />
		</b-col>
	</b-row>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class Loader extends Vue {
	@Prop({
		type: String,
		default: 'light',
	})
	readonly variant: string;
}
</script>

<style lang="scss">
.loader {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	z-index: $zindex-modal;

	&.loader--dark {
		background-color: rgba(255, 255, 255, 0.6);
	}
}
</style>
