<template>
	<b-navbar class="top-navbar" toggleable="md" sticky>
		<b-navbar-toggle target="nav_collapse" />

		<b-collapse id="nav_collapse" is-nav>
			<b-navbar-brand class="col-sm-auto" to="/">
				<b-icon-building />
			</b-navbar-brand>

			<b-navbar-nav>
				<b-nav-item to="/sample"> Link </b-nav-item>
			</b-navbar-nav>

			<b-navbar-nav class="ml-auto">
				<b-nav-item-dropdown right>
					<template #button-content>
						<b-icon-person-circle />
						<span v-if="user">{{ user.username }}</span>
					</template>

					<template v-if="!user">
						<b-dropdown-form @submit.stop.prevent>
							<Login />
						</b-dropdown-form>
					</template>

					<template v-else>
						<b-dropdown-item-button @click="logout">
							{{ $t('forms.auth.logout') }}
							<b-icon-arrow-right-square />
						</b-dropdown-item-button>
					</template>
				</b-nav-item-dropdown>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Getter } from 'vuex-class';
import { StoreActions, StoreGetters } from '@/store/constants';
import { UserInterface } from '@/types/services/Auth';
import Login from './Login.vue';

@Component({
	components: {
		Login,
	},
})
export default class Navbar extends Vue {
	@Getter(StoreGetters.AUTH_GET_USER)
	readonly user: UserInterface;

	@Action(StoreActions.AUTH_LOGOUT)
	readonly logout: () => void;
}
</script>

<style lang="scss">
.top-navbar {
	background-color: $navbar-background;
	border-bottom: $border-default-width solid $border-default-color;
	z-index: $zindex-sticky + 1;
}
</style>
