//
// Bootstrap variables
//
// Overrides default Bootstrap values

// Colors
//$primary: #00FFFF;

$content-padding-x: 1.7rem;

// import default Bootstrap variables
@import "~bootstrap/scss/variables";

//
// Custom variables
//

$font-size-base-px: 16px !default;
$font-weight-medium: 500;

$spacer-px: $font-size-base-px !default;
$spacers-px: (
    0: 0,
    1: ($spacer-px * .25),
    2: ($spacer-px * .5),
    3: $spacer-px,
    4: ($spacer-px * 1.5),
    5: ($spacer-px * 3)
) !default;

$builder-gray: $gray-100;
$border-default-width: 1px;
$border-default-color: $gray-400;
$border-default-radius: 6px;

$navbar-padding-y: map-get($spacers-px, 2);
$navbar-logo-size: $input-height;
$navbar-brand-font-size: $font-size-base;
$navbar-brand-color: #00354F;
$navbar-height: 60px;
$navbar-background: $builder-gray;
$navbar-border-color: $gray-600;
$navbar-input-border-color: $gray-400;
$navbar-link-color: $primary;

$footer-height: 30px;
$footer-background: $builder-gray;
$footer-border-color: $gray-600;
